@font-face {
    font-family: PromixaNova;
    src: url('../fonts/Proxima-Nova-Regular.woff2');
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.main-canvas {
    /* height: '100%'; */
    /* padding: 0px; */
}

.main-canvas .navbar-col {
    background-color: #293349;
}

.main-canvas .main-col {
    padding-left: 0px;
    padding-right: 0px;
}

.vertical-navbar {
    display: block;
    /* background-color: #293349; */
    height: 100%;
}

.vertical-navbar .navbar-item {
    text-align: center;
    margin: 5px;
}

.vertical-navbar .navbar-brand {
    text-align: center;
    font-size: 30px;
    font-family: PromixaNova;
    color: white;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0px;
    margin-right: 0px;
}

.vertical-navbar .navbar-item .btn {
    margin-bottom: 33.5px;
    background-color: inherit;
}

.vertical-navbar .navbar-item .btn:active {
    background-image: linear-gradient(#1e2e2d, #0d1414);
    color: white;
}

.vertical-navbar .navbar-item .btn:hover {
    /* mix-blend-mode: soft-light; */
    background-image: linear-gradient(to bottom, #1e2e2d, #0d1414);
    color: white;
}

.main-navbar {
    background-color: white;
}

.main-navbar .navbar-brand {
    font-weight: bolder;
    font-family: PromixaNova;
}

.main-navbar .nav-item {
    margin-left: 21px;
}

.main-navbar .nav-item .btn {
    background-color: inherit;
    color: #a2ada9;
}

.main-navbar .nav-item .vl {
    border-left: 1px solid #c9d1d0;
    height: 100%;
}

.main-navbar .nav-item .avatar {
    display: block;
    width: 25px;
    height: 25px;
}

.main-navbar .nav-item .notification {
    border: solid 1px;
    border-color: #bec7c5;
    border-radius: 100%;
}

.main-navbar .nav-item .nofications-live {
    width: 7px;
    height: 7.3px;
    border: solid 2px;
    border-radius: 100%;
    background-color: #d0021b;
    border-color: #d0021b;
    position: relative;
    top: -36px;
    right: -31px;
}

.main-container {
    background-color: #edf2f1;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
}

.main-container .sub-container {
    border-radius: 5px;
    background-color: white;
}

.main-container .sub-container .search-input {
    margin: 0;
    background-color: white;
    border: solid;
    border-color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: PromixaNova;
}

.main-container .sub-container .search-input {
    background-color: inherit;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 19px;
    padding-right: 19px;
    width: 100%;
}

.main-container .sub-container .rule {
    margin: 0;
    border-width: 1px;
    border-color: #d3dbda;
}

.main-container .sub-container .row-wrapper {
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-container .sub-container .description-banner {
    background-color: #eefffe;
    padding: 25px;
    /* height: 100%; */
}

.main-container .sub-container .description-banner .title {
    font-family: PromixaNova;
    color: black;
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
}

.main-container .sub-container .description-banner .logo {
    width: 100px;
    height: 100px;
}

.main-container .sub-container .description-banner .description {
    font-family: PromixaNova;
    color: #8c9291;
    /* box-shadow: 0 1px 0 0 #d3dbda; */
    font-size: 14px;
    margin-left: 5px;
}

.main-container .sub-container .option-list {
    margin-top: 20px;
}

.main-container .sub-container .option-list .list-btn {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}

.main-container .sub-container .option {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.main-container .sub-container .option .text {
    font-family: PromixaNova;
    font-weight: bold;
    color: #8c9291;
}

.main-container .sub-container .option .icon {
    margin-right: 15px;
    font-size: 20px;
}

.edit-modal {}

.edit-modal .modal-content {
    /* height: 100%; */
    width: 50%;
    background-color: white;
    border-radius: 0px;
    border-width: 2px 0 0 0;
    border-color: black;
    margin-left: auto;
    padding: 16.5px 27px 39px 27px;
}

.edit-modal .modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0px;
    margin-left: auto;
}

.edit-modal .modal-dialog .close-btn {
    position: absolute;
    top: 0;
    right: 50%;
    background-color: black;
    color: white;
    border-radius: 0 0 0 3px;
}

.edit-modal .modal-content .modal-title {
    font-family: PromixaNova;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 32.5px;
}

.edit-modal .modal-content .modal-form label {
    font-family: PromixaNova;
    font-weight: bold;
}

.edit-modal .modal-content .modal-form .form-control {
    border-width: 0 0 2px 0;
    border-radius: 0px;
    margin-bottom: 32px;
    padding: 0px;
    font-family: PromixaNova;
    font-size: 18px;
}

.edit-modal .sub-title {
    font-family: PromixaNova;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.edit-modal .option-btn {
    font-family: inherit;
    background-color: transparent;
    border-color: #cccccc;
    color: black;
    border-width: 1px;
}

.edit-modal .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.edit-modal .submit-group {
    margin-left: auto;
}

.edit-modal .link {
    color: black;
}